@import "../../common/sass/variables"

.postCard
  padding: 35px
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px
  background-color: $white
  text-align: left
  display: inline-block

  .thumbnail
    padding: 135px
    background-repeat: no-repeat
    background-size: cover
    margin-bottom: 25px
